.container {
    position: relative;
}
.header {
    position: relative;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}
.headerText {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}
.main {
    padding: 0px 10px 5px 10px;
}