.container {
    position: relative;
}
.header {
    position: relative;
    padding: 5px 0;
    text-align: center;
}
.headerText {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}
.main {
    padding: 0px 10px 5px 10px;
}

.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0.9em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    width: 100%;
    color: #fff;
    margin-bottom: 3px;
}
.button:last-child {
    margin-bottom: 0;
}

.clear {
    color: #f66;
}
.clear:hover {
    border-color: #646cff;
    color: #646cff;
}
.selected {
    border-color: #646cff;
    color: #646cff;
}
.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}